*{
    margin: 0;
    padding: 0;
    font-size: 15px;
}
body{
    color:#77758b;
}

header i{
    padding: 10px 15px; 
    font-size: 20px;
}
@media screen and (min-width: 768px){
    body{
        padding: 10px 140px;
    }
    
}
@media screen and (min-width: 992px){
    body{
        padding: 10px 235px;
    }
    
}

/* Content top */
main{
    padding: 0px 15px;
}
.content-top{
    margin-bottom: 300px;
}
.content-top h3{
    padding: 15px 0px 15px 0; 
    font-size: 30px;
    font-weight: 400;
}
.content-top .heading-top{
    opacity: 0.2;
}
.content-top h2{
    font-size: 65px;
    font-weight: 500;
    padding: 10px 0 40px 0;
    color: black;
}
.content-top .content-top__introduce{
    display: none;
}
.content-top p{
    font-size: 25px;
    line-height: 150%;
}

@media screen and (min-width: 768px){
    .content-top{
        display: grid;
        grid-template-columns: 50% 50%;
        margin-bottom: 0;
        column-gap: 20px;
    }
    .content-top h3{
        font-size: 35px;
    }
    .content-top h2{
        font-size: 65px;
        font-weight: 500;
        padding: 10px 0 40px 0;
        color: black;
    }
    .content-top p{
        font-size: 23px;
        line-height: 150%;
    }
    .content-top .content-top__introduce{
        display: inline-block;
    }
  }

  /* Content main  */
.content-main{
   padding-bottom: 30px;
}   
.content-main h3{
   padding-bottom: 20px;
    font-size: 15px;
    font-weight: 100;
    text-transform: uppercase;
    display: none;
} 
.content-main img{
    width: 100%;
    height: 320px;
    object-fit: cover;
    object-position: 100% 65%;
}
.content-main .house-demo--right img{
    height: 200px ;
    object-position: 100% 100%;
}
.content-main .house-item{
    margin-bottom: 300px;
    box-sizing: border-box;
}
.content-main p{
    font-size: 20px;
    padding: 10px 0;
    line-height: 120%;
}
.house-content-desktop{
    display: none;
}

@media screen and (min-width: 576px){
    .content-main .house-demo--right img{
        height: 300px;
    }
}

@media screen and (min-width: 768px){
    .content-main .house-demo{
        display: grid;
        grid-template-columns: calc(50% - 10px) calc(50% - 10px);
        column-gap: 20px;
    }
    .content-main .house-item{
        margin-bottom: 0px;
    }
    .content-main h3{
        display: block;
    }
    .content-main img{
        object-fit: initial;
        object-position: initial;
        height: auto;
    }
    .content-main .house-demo--right img{
        object-fit: initial;
        object-position: initial;
        height: auto;
    }
    .house-content-desktop{
        display: inline-block;
    }
    .house-content-mobile{
        display: none;
    }
}

/* Footer */

.footer{
    display: grid;
    grid-template-columns: 33.333%   33.333%   33.333%;
    color: white;   
}
.footer-item{
    padding: 15px 0 30px 0;
}

.info-item{
    background-color: black;
    padding-left: 20px;
}
.info-item h4, .us-item h4{
    font-weight: 400;
    font-size: 22px;
    padding-bottom:15px;
}
.info-item div{
    padding-bottom: 12px;
}
.info-item div span{
    font-size: 13px;
    font-weight: 600;
}
.info-item div i{
    padding-right: 10px;
    font-size: 11px;
}

.us-item{
    background-color: #616161;
    text-align: center;
}
.us-item p{
    font-size: 14px;
    font-weight: 600;
}

.like-item{
    text-align: center;
    background-color: #9e9e9e;
}
.like-item h4{
    font-weight: 400;
    font-size: 22px;
    padding-bottom:10px;
}
.like-item i{
    display: block;
    padding-bottom: 4px;
    font-size: 16px;
}
.like-item{
    background-color: #9e9e9e;
}

footer .author{
    font-size: 12px;
    padding: 15px ;
}
footer .author span{
    text-decoration: underline;
    font-size: 12px;
}

@media screen and (max-width: 768px){
    .footer{
        display: block;
    }
    .footer .info-item, .like-item{
        display: none;
    }
    .footer .us-item {
       padding-bottom:100px;
    }
    .footer .us-item h4{
        font-weight: 400;
        font-size: 30px;
        padding-bottom:25px;
    }
    .footer .us-item p{
        font-size: 20px;
        font-weight: 600;
    }
    footer .author{
       display: none;
    }
    footer{
        margin-bottom: 300px;
    }
}
