*{
    margin: 0;
    padding: 0;
}

.banner{
    position: relative;
}
.banner img{
    width: 100%;
    height: auto;
}
.banner-content{
    position: absolute;
    bottom: 40px;
    background-color: hsla(42, 100%, 55%, 0.5);
    width: 850px;
    padding-top: 20px;
}
.banner-content h2{
    font-size: 60px;
    font-weight: bold;
    padding:0 0 20px  20px;
}

/* Content */
.content{
    padding: 100px 60px 0 60px;
}
.content-row{
    display: grid;
    grid-template-columns: calc(50% - 25px)  calc(50% - 25px);
    justify-content: center;
    column-gap: 50px;
    padding-bottom: 100px;
}
.content-cell img{
    width: 100%;
    border-top: 10px solid orange;
}
.content-cell h3{
   font-size: 60px;
   padding: 30px 0;
   font-weight: 500;
}
.content-cell p{
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 500;
 }

@media only screen and (max-width: 992px){
    .banner-content{
        width: 500px;
    }
    .banner-content h2{
        font-size: 40px;
    }
}
@media only screen and (max-width: 768px){
    .banner{
        margin-bottom: 30px;
    }
    .banner-content{
        width: fit-content;
        padding: 20px 20px 0 0 ;
    }
    .banner-content h2{
        font-size: 20px;
        font-weight: bold;
        padding:0 0 20px  20px;
    }

    .content{
        padding: 0 20px;
    }
    .content-row{
        display: block;
        padding-bottom: 30px;
    }
    .content-cell img{
        width: 100%;
    }
    .content-cell h3{
        font-size: 30px;
        padding: 20px 0;
        font-weight: 500;
     }
    .content-cell p{
        font-size: 15px;
        padding-bottom: 30px;
    }
}