.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
input{
  margin: 20px;
  font-size: 20px;
  padding: 10px;
}
span{
  color: red;
}
p {
  font-size: 20px;
}
button {
  margin-top: 10px;
  padding: 10px 15px;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
}
button:last-child {
  margin-left: 20px;
}
