/* * {
  font-size: 20px;
} */

body {
  background-color: #ccc;
  box-sizing: border-box;
}

/* Absolute units */
.test1 {
  font-size: 20px;
}

.test2 {
  font-size: 1cm;
}

/* Relative units */
.box1 {
  width: 300px;
  font-size: 16px;
  padding: 1rem; /* = 16px */
  border: 4px solid black;
  margin-bottom: 20px;
}

.box2 {
  width: 300px;
  font-size: 20px;
  padding: 1em; /* = 20px */
  border: 4px solid black;
}

/* Box model*/
.box-model {
  width: 500px;
  font-size: 30px;
  padding: 30px;
  border: 2px solid blue;
  margin: 20px;
}

/* BEM */

/* Block */
.btn {
  text-decoration: none;
  background-color: white;
  color: #888;
  border-radius: 5px;
  display: inline-block;
  margin: 10px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 10px 5px;
}

/* Element */
.btn__price {
  background-color: white;
  color: #fff;
  padding-right: 12px;
  padding-left: 12px;
  margin-right: -10px; /* realign button text padding */
  font-weight: 600;
  background-color: #333;
  opacity: 0.4;
  border-radius: 5px 0 0 5px;
}

/* Element */
.btn__text {
  padding: 0 10px;
  border-radius: 0 5px 5px 0;
}

/* Modifier */
.btn--big {
  font-size: 28px;
  padding: 10px;
  font-weight: 400;
}

/* Modifier */
.btn--blue {
  border-color: #0074d9;
  color: white;
  background-color: #0074d9;
}

/* Modifier */
.btn--orange {
  border-color: #ff4136;
  color: white;
  background-color: #ff4136;
}
