/* Margin */
.mb-2{
    margin-bottom: 8px;
}
.my-2{
    margin: 8px 0px;
}
.mx-2{
    margin: 0 8px;
}
.ms-2{
    margin-left: 8px;
}

.ms-4{
    margin-left: 16px;
}
.me-4{
    margin-right: 16px;
}
.mb-4{
    margin-bottom: 24px;
}
.mt-4{
    margin-top: 16px;
}
.mb-5{
    margin-bottom: 20px;
}

/* Padding */
.py-2{
    padding: 8px 0;
}
.px-2{
    padding: 0 8px;
}
.ps-2{
    padding-left:8px;
}
.py-3{
    padding: 12px 0;
}
.px-3{
    padding: 0 12px;
}
.pt-3{
    padding-top: 12px;
}
.pb-3{
    padding-bottom: 12px;
}

.p-1{
    padding: 4px;
}
.p-2{
    padding: 8px;
}
.p-3{
    padding: 12px;
}
.p-4{
    padding: 16px;
}

.text-center{
    text-align: center;
}
.text-uppercase{
    text-transform: uppercase;
}
.text-muted{
    color: #989898;
}

.fw-bolder{
    font-weight: bold;
}

.d-flex{
    display: flex;
}
.align-items-center{
    align-items: center;
}
.justify-content-between{
    justify-content: space-between;
}
.img-fluid{
    width: 100%;
}