@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
* {
  margin: 0;
  padding: 0;
}
/* Common */
body {
  background-color: #f1f1f1;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 11px;
  background-color: black;
}

/* Nav */
nav{
  margin: 0 60px;
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav i{
  color: white;
  padding-right: 20px;
  font-size: 9px;
}
nav .nav--right{
 padding-right: unset;
}

/* Container */
.container{
  background-color: #f1f1f1;
  padding: 0 100px;
  margin: 0 50px;
}

header {
  text-align: center;
  padding: 40px 0;
  background-color: #ffffff;
}
header h3 {
  font-weight: bolder;
  letter-spacing: 0px;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-family: 'Oswald', sans-serif;
}
header .header__title {
  font-size: 9px;
  font-weight: bold;
  letter-spacing: 0px;
}
header .header__title span {
  background-color: #626262;
  border-left: 7px solid #000000;
  border-right: 7px solid #000000;
  font-size: 9px;
}

/* Main */
.banner {
  position: relative;
}
.banner img {
  width: 100%;
  vertical-align: middle;
}
.banner .banner-content {
  position: absolute;
  top: 40%;
  color: #ffffff;
  left: 20px;
}
.banner .banner-content__name {
  font-size: 20px;
  font-weight: bolder;
  margin-bottom: 10px;
}
.banner .banner-content__title {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bolder;
  margin-bottom: 10px;
  font-family: 'Oswald', sans-serif;
}
.banner .banner-content__button {
  padding: 10px;
  border: 0;
  color: #000000;
  font-size: 12px;
  color: #000000;
  background-color: #a0a0a0;
  text-transform: uppercase;
}

/* Content */
.content{
  display: flex;
  padding: 20px 20px 0 20px;
  border: 1px solid #d4d2d2;
}
.main-content{
  width: 66.66%;
}
.side-bar{
  width: calc(100% - 66.66%);
}
.content__item {
  background-color: #ffffff;
  padding: 0 16px;
}
.content__item h5{
 text-align: center;
 text-transform: uppercase;
 font-weight: bold;
 padding-top: 12px;
 font-size: 15px;
}
.content__item .button-action--left{
  border: 1px solid #e5e5e5;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 4px 8px;
  font-size: 10px;
}
.content__item .button-action--right{
  padding: 6px 8px;
  color: white;
  background-color: black;
  font-size: 10px;
}
.content__item .button-action--right span{
  padding: 2px 6px;
  color: black;
  background-color: white;
  font-weight: 100;
  margin-left: 4px;
}
.content__item hr{
  margin: 12px 0;
  color: #f5f5f5;
  opacity: 0.2;
}
.content__item .item_information{
 margin-left: 50px;
}
.content__item .item-center {
  padding-bottom: 25px;
 }

.side-bar h5 {
  font-size: 15px;
  background-color: black;
  color: white;
}

 /* Introduce */
.introduce {
  position: relative;
}
.introduce__content {
  color: #ffffff;
  bottom: 0;
  padding: 20px 10px;
  background-color:black;
}
.introduce img{
  vertical-align: middle;
  filter: sepia(70%);
}

/* Popular */
.popular {
  background-color: #ffffff;
}
.popular .item-post  {
  border-bottom: 1px solid #e5e5e5;
}

/* Advertise */
.advertise {
  background-color: #ffffff;
}
.advertise div {
  display: flex;
  background-color: #f1f1f1;
  margin: 10px;
  width: calc(100% - 20px);
  height: 150px;
  padding: 65px;
  display: inline-block;
  box-sizing: border-box;
}

/* Tags */

.tag__content {
  background-color: white;
  padding: 10px 8px 40px 10px;
}

.tag__content span{
  background-color: #f1f1f1;
  padding: 2px 4px;
  margin:0 1px 4px 0;
  display: inline-block;
  font-size: 9px;
}
.tag__content .fashion{
  font-weight: bold;
  background-color: black;
  color: white;
}

/* Inspiration */

.inspiration__content{
  display: grid;
  grid-template-columns: calc(50% - 4px)  calc(50% - 4px);
  grid-gap: 8px;
  background-color: white;
}
.inspiration__content img{
  width: 100%;
}

/* Follow Me */
.follow__content{
  background-color: white;
}
.follow__content i{
  font-size: 15px;
  margin-right: 3px;
}

/* Subscribe */
.subscribe__content{
  background-color: white;
}
.subscribe__content p{
  margin-bottom: 8px;
  font-size: 10px;
}
.subscribe__content input{
  width: 100%;
  padding: 4px;
  box-sizing: border-box;
  margin-bottom: 8px;
  font-size: 10px;
}
.subscribe__content button{
  background-color: red;
  color: white;
  box-sizing: border-box;
  width: 100%;
  padding: 4px;
  border: 0;
  font-size: 10px;
}

/* Footer */

footer{
  background-color: #616161;
  margin: 0px 50px;
}

.footer__content{
  background-color: #616161;
  padding: 20px ;
  color: white;
  font-weight: bold;
  font-size: 10px;
}
.footer__content--top{
  background-color: black;
  width: fit-content;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.footer__content--top i{
  margin-right: 10px;
}
.footer__content--bottom{
  font-size: 9px;
}
.footer__content--bottom span{
  text-decoration: underline;
}

@media only screen and (max-width: 768px){
  body {
    background-color: #f1f1f1;
  }
  nav{
    display: none;
  }
  .container{
    padding: 0;
    margin: 0;
  }

  .banner .banner-content__name{
    font-size: 15px;
    margin-bottom: 0;
  }
  .banner .banner-content__title{
    font-size: 30px;
    margin: 0;
  }
  .banner .banner-content__button{
    font-size: 8px;
    padding: 5px;
  }

  .content{
    display: block;
  }
  .content__item{
    margin-right: 0;
  }
  .main-content{
    width: 100%;
  }
  .side-bar{
    width: 100%;
  }

  footer{
    margin: 0;
  }
}