*{
    margin: 0;
    padding: 0;
}

@mixin banner( $height:height-banner){
    background:  url(./images/bg-masthead.jpg) no-repeat right center;
    height: $height;
    &__content{
        max-width: 600px;
        h3{
            font-weight: bolder;
        }
        button{
            width: 100%;
        }
    }
}

@mixin banner-md{
    div{
        width: calc(100% - 120px);
    }
    button{
        width: initial;
    }
}

.banner{
    @include banner($height: 500px);
}

.feature{
    padding: 70px 40px;
    i{
        font-size: 70px;
    }
}

.banner-bottom{
    @include banner($height: 400px);
}
.footer{
    &__left{
        ul{
            li{
                list-style-type:none;
                padding: 0 0.7rem;
            }
        }
    }
    &__right{
        i{
            font-size: 20px;
            margin-left: 20px;
        }
    }
}


@media only screen and (min-width: 576px){
    .banner{
        &__content{
            @include banner-md
        }
    }
    .feature{
        padding: 70px 100px;
    }
    .banner-bottom{
        height: 250px;
        &__content{
            @include banner-md
        }
    }
  }