* {
  margin: 0;
  padding: 0;
}

.banner {
  background: url(./images/bg-masthead.jpg) no-repeat right center;
  height: 500px;
}

.banner__content {
  max-width: 600px;
}

.banner__content h3 {
  font-weight: bolder;
}

.banner__content button {
  width: 100%;
}

.feature {
  padding: 70px 40px;
}

.feature i {
  font-size: 70px;
}

.banner-bottom {
  background: url(./images/bg-masthead.jpg) no-repeat right center;
  height: 400px;
}

.banner-bottom__content {
  max-width: 600px;
}

.banner-bottom__content h3 {
  font-weight: bolder;
}

.banner-bottom__content button {
  width: 100%;
}

.footer__left ul li {
  list-style-type: none;
  padding: 0 0.7rem;
}

.footer__right i {
  font-size: 20px;
  margin-left: 20px;
}

@media only screen and (min-width: 576px) {
  .banner__content div {
    width: calc(100% - 120px);
  }
  .banner__content button {
    width: initial;
  }
  .feature {
    padding: 70px 100px;
  }
  .banner-bottom {
    height: 250px;
  }
  .banner-bottom__content div {
    width: calc(100% - 120px);
  }
  .banner-bottom__content button {
    width: initial;
  }
}
/*# sourceMappingURL=style.css.map */