* {
  margin: 0;
  padding: 0;
  font-size: 11px;
}

header i {
  right: 15px;
  top: 15px;
  padding: 10px;
  background-color: rgba(12, 7, 7, 0.5);
}

.sidebar {
  top: 0;
  right: 0;
  width: 170px;
  color: #ffffff;
  height: 100vh;
  display: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.sidebar__header {
  background-color: #1f7996;
}

.sidebar__header i {
  padding: 10px;
  background-color: rgba(12, 7, 7, 0.5);
}

.sidebar ul {
  list-style-type: none;
}

.sidebar ul li a {
  color: #ffffff;
  text-decoration: none;
}

.sidebar ul li:hover {
  background-color: #1f7996;
}

.banner {
  background: url(./images/bg-masthead.jpg) no-repeat center;
  background-size: cover;
  height: 100vh;
}

.banner h1 {
  font-size: 5rem;
}

.banner h2 {
  font-size: 1.5rem;
  font-style: italic;
}

.service {
  padding: 80px 0;
  color: #ffffff;
}

.service i {
  font-size: 30px;
  padding: 25px 30px;
}

.download {
  background: url(./images/bg-callout.jpg) no-repeat center;
  background-size: cover;
  height: 500px;
}

.download h1 {
  font-size: 3rem;
  max-width: 266px;
}

.portfolio {
  padding: 80px 0;
}

.portfolio__detail {
  bottom: 50px;
  left: 50px;
  color: #ffffff;
}

.resits {
  padding: 80px 0;
}

.map {
  background: url(./images/map.PNG) no-repeat left bottom;
  height: 300px;
}

footer {
  padding: 80px 0;
}

footer i {
  font-size: 30px;
  padding: 10px;
  margin-right: 20px;
}

@media only screen and (min-width: 576px) {
  .banner {
    height: 650px;
  }
}
/*# sourceMappingURL=style.css.map */