*{
    margin: 0;
    padding: 0;
    font-size: 11px;
}

$color1: #ffffff;
$padding-section: 80px;

header{
    i{
        right: 15px;
        top: 15px;
        padding: 10px;
        background-color: rgba(12,7,7,0.5);
    }
}
.sidebar{
    top: 0;
    right: 0;
    width: 170px;
    color: $color1;
    height: 100vh;
    display: none;
    transition: all 0.5s;
    &__header{
        background-color: #1f7996;
        i{
            padding: 10px;
            background-color: rgba(12,7,7,0.5);
        }
    }
    ul{
        list-style-type: none;
        li a{
            color: $color1;
            text-decoration: none;
        }
        li:hover{
            background-color: #1f7996;
        }
    }
}

.banner{
    background:  url(./images/bg-masthead.jpg) no-repeat center;
    background-size: cover;
    height: 100vh;
    h1{
        font-size: 5rem;
    }
    h2{
        font-size: 1.5rem;
        font-style: italic;
    }
}

.service{
    padding: $padding-section 0;
    color: $color1;
    i{
        font-size: 30px;
        padding: 25px 30px;
    }
}

.download{
    background:  url(./images/bg-callout.jpg) no-repeat center;
    background-size: cover;
    height: 500px;
    h1{
        font-size: 3rem;
        max-width: 266px;
    }
}

.portfolio{
    padding: $padding-section 0;
    &__detail{
        bottom: 50px;
        left: 50px;
        color: $color1;
    }
}

.resits{
    padding: $padding-section 0;
}

.map{
    background:  url(./images/map.PNG) no-repeat left bottom;
    height: 300px;
}

footer{
    padding: $padding-section 0;
    i{
        font-size: 30px;
        padding: 10px;
        margin-right: 20px;
    }
}


@media only screen and (min-width: 576px){
    .banner{
        height: 650px;
    }
}