*{
    margin: 0;
    padding: 0;
    font-size: 11px;
}

header{
    width: 100%;
    position: absolute;
    background-color: rgba(22,4,6,0.7);
    h4{
        cursor: pointer;
    }
    .header__button button:hover{
        color: black;
    }
    .header__button button{
        border: 0 ;
        opacity: 0.5;
    }
}

.banner{
    background:  url(./images/bg.PNG) no-repeat center center;
    height: 500px;
    h1{
        font-size: 6rem;
    }
    h2{
        font-size: 4rem;
    }
    button{
        background-color: #f05079;
        border: 0;
    }
    button:hover{
        background-color: #d4607e;
    }
}

.content{
    h3{
        font-size: 4rem;
    }
    &__left, &__right{
        margin-bottom: 80px;
    }
}

footer{
    background-color: black;
}

@media only screen and (min-width: 576px){
    .banner{
        height: 450px;
    }
    .content{
        h3{
            font-size: 3rem;
        }
    }
}