*{
  padding: 0;
  margin: 0;
}

body{
  font-size: 15px;
  overflow: auto;
}
/* Header */

header .header-top button{
  width: 100%;
  background-color: #4daf50;
  padding: 10px 0;
  border: 0;
  font-size: 17px;
  color: white;
  font-weight: 600;
  display: flex;
  justify-content: center;
}
header button i{
  margin: 0 3px;
}
header .header-bottom{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  font-weight: bold;
  color: white;
  font-size: 17px;
  padding: 2px 0 10px 0;
}
header .header-bottom i{
  font-size: 12px;
  margin: 3px 0 0 3px;
}
header .banner{
  width: 100%;
  height: auto;
  vertical-align:middle;
}
 /* >768px */
.header-content{
  position: absolute;
  top:50%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.header-content__left{
  margin-left: 10px;
  background-color: black;
  padding: 20px;
  color: white;
  text-align: center;
  opacity: 0.6;
  border-radius: 5px;
}
.header-content .header-content__left h4{
  font-size: 18px;
  padding-bottom: 10px;
}
.header-content .header-content__left p{
  font-size: 12px;
  margin: 10px 0;
  font-weight: 500;
}
.header-content .header-content__left button{
  width: 100%;
  background-color: #4daf50;
  padding: 5px 80px;
  border: 0;
  font-size: 15px;
  color: white;
  display: flex;
  justify-content: center;
  border-radius: 3px;
}

.header-content__right{
  margin-right: 10px;
  display: flex;
  background-color: black;
  height: 20px;
  color: white;
  font-size: 17px;
  padding: 5px 10px;
  align-items: center;
}
.header-content__right i{
  font-size: 12px;
  padding-left: 5px;
}

@media screen and (min-width: 768px){
  .header-top,.header-bottom{
    display: none;
  }
  header .header-bottom{
    display: none;
  }
}

@media screen and (max-width: 768px){
  .header-content{
    display: none;
  }
}

/* The app */

.the-app{
  padding: 50px 20px;
}
  /* The app left */
.the-app__left h2{
  font-size: 70px;
  padding: 15px 0;
}
.the-app__left h3{
  font-size: 50px;
  padding: 15px 0 25px 0;
  color: green;
}
.the-app__left p{
  line-height: 180%;
}

.the-app__left span{
  font-size: 25px;
}
.the-app__left button{
  padding: 10px 15px;
  border: 0;
  margin: 25px 0;
}
.the-app__left .the-app__support .icon--android{
  color: green;
}
.the-app__left .the-app__support .icon--window{
  color: #2a96f3;
}
  /* The app right*/
.the-app__right img{
  width: 100%;
  padding-top: 20px;
}

@media screen and (min-width: 768px){
  .the-app{
  display: grid;
  grid-template-columns: auto auto ;
  column-gap: 150px;
  }
}

/* pixel */

.pixel{
  background-color: #f1f1f1;
  padding: 40px 20px;
}
.pixel img{
 width: 100%;
}
.pixel h2{
  font-size: 70px;
  padding: 15px 0;
}
.pixel h3{
  font-size: 50px;
  padding: 15px 0 25px 0;
  color: red;
}
.pixel p{
  line-height: 180%;
  padding-bottom: 20px;
}
.pixel span{
  font-size: 25px;
}

@media screen and (min-width: 768px){
  .pixel{
    display: grid;
    grid-template-columns: auto auto ;
    column-gap: 150px;
  }
}

/* Feature */

.feature{
  background-color: #616161;
  color: white;
  padding: 60px 0;
  text-align: center;
}
.feature h2{
  font-size: 70px;
}
.feature >p{
  font-size: 25px;
  padding: 30px 0 70px 0;
}
.feature .feature-list{
  display: grid;
  grid-template-columns: auto auto auto auto;
  row-gap: 60px;
}
.feature .feature-list i{
  font-size: 30px;
}
.feature .feature-list .fash,.global, .stabile{
  color: orange;
}
.feature .feature-list .love{
  color: red;
}
.feature .feature-list .clarity{
  color: yellow;
}
.feature .feature-list .power{
  color: green;
}
.feature .feature-list .sharp,.safe{
  color: white;
}
.feature .feature-list .cloud{
  color: blue;
}
.feature .feature-list .storage{
  color: #28b8cf;;
}
.feature .feature-list .wifi{
  color: #757575;
}

.feature .feature-list .hd{
  color: #e94863;;
}

.feature .feature-list i p{
  font-size: 12px;
  padding-top: 10px;
  color: white;
}
@media screen and (min-width: 768px){
  .feature h2{
    font-size: 50px;
  }
  .feature >p{
    font-size: 15px;
  }
}

/* Pricing */

.pricing{
  text-align: center;
  padding: 50px 10px;
}
.pricing h2{
  font-size: 70px;
}
.pricing >p{
  font-size: 22px;
  padding: 30px 0 70px 0;
}
.pricing__table h3{
  color: white;
  background-color: #616161;
  padding: 25px 0;
  font-size: 30px;
  font-weight: 500;
}
.pricing__table .pricing__table--right h3{
  background-color: red;
}
.pricing__table p{
  padding: 20px;
  border: 1px solid #e3e3e3;
  border-top: 0;
}
.pricing__table p span{
  color: #4b4a47;
}
.pricing__table .pricing-price{
  color: #909090;
  font-size: 40px;
}
.pricing__table .pricing__bottom{
  background-color: #f1f1f1;
  border: 1px solid #e3e3e3;
  border-top: 0;
  padding: 20px 0;
  color: white;
}
.pricing__table .pricing__bottom button{
  background-color: black;
  color: white;
  padding: 15px 30px;
  font-weight: bold;
}
.pricing__table .pricing__table--right, .pricing__table--left{
  margin-bottom: 30px ;
  box-shadow: 1px 1px #d8d8d8;
}

@media screen and (min-width: 768px){
  .pricing__table{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
  } 
  .pricing__table h3{
    padding: 20px 0;
    font-size: 20px;
  }
  .pricing__table p{
    padding: 12px;
  }
  .pricing__table .pricing-price{
    font-size: 20px;
  }
  .pricing__table .pricing__bottom{
    padding: 12px 0;
  }
  .pricing__table .pricing__bottom button{
    background-color: black;
    padding: 10px 15px;
    font-weight: 400;
  }
}

/* Footer */
footer{
  background-color: #f1f1f1;
  text-align: center;
  padding: 30px 0;
}
footer p{
  font-size: 12px;
  padding-top: 15px;
}
footer p span{
  text-decoration: underline;
}